:root {
    --bs-blue: red;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background: url('../img/svg/background.svg') #f9f9f9 top center no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
}

.sticky-header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 2.875rem rgba(0,0,0,0.05);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

.sticky-header-logo {
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
}

.post-date {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;    
    background: #F4F5F7;
    border-radius: 4px;

}

.post-author-badge {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #11CDEF;
    color: white;
    font-size: 0;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.post-author-badge:before {
    position: absolute;
    content: '';
    bottom: -16px;
    left: -8px;
    width: 95%;
    height: 95%;
    border-radius: 100%;
    background: rgba(17,205,239,.2);
    z-index: -1;
}

.post-author-badge:after {
    position: absolute;
    content: '';
    top: 5px;
    right: -12px;
    width: 110%;
    height: 110%;
    border-radius: 100%;
    background: rgba(17,205,239,.3);
    z-index: -1;
}

.post-author-badge:first-letter {
    text-transform: uppercase;
    font-size: 25px;
}

.card {
    background: white;
    border: 0;
    padding: 15px 20px;
    border-radius: 10px;box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1);
}

.card-footer {
    background: transparent;
    border-top: 0;
    padding: 1rem;
}

.footer-row {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}